<div class="container">
    <h1>Logs</h1>

    <!-- Inline Form to Add a New Entry -->
    <div class="form-inline mb-4">

        <div class="form-group mx-sm-3 mb-2">
            <label for="courseInput" class="sr-only">Course</label>
            <select class="form-control" id="courseInput" [(ngModel)]="task.courseRegistration" (change)="getLogs()">
                <option *ngFor="let course of courseList" [ngValue]="course">
                    {{course.course.name}}
                </option>
            </select>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="descriptionInput" class="sr-only">Description</label>
            <input type="text" class="form-control" id="descriptionInput" placeholder="Description" [(ngModel)]="task.description" />
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="taskDateInput" class="sr-only">Task Date</label>
            <input type="date" class="form-control" id="taskDateInput" [(ngModel)]="task.taskDate" />
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="categoryInput" class="sr-only">Category</label>
            <select class="form-control" id="categoryInput"  [(ngModel)]="task.category" >
                <option *ngFor="let cat of categoryList" [ngValue]="cat">
                    {{cat.description}}
                </option>
            </select>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="timeSpentInput" class="sr-only">Time Spent</label>
            <input type="number" class="form-control" id="timeSpentInput" placeholder="Time Spent" [(ngModel)]="task.timeSpent" />
        </div>
        <button type="submit" class="btn btn-primary mb-2" (click)="create()">Add Entry</button>
    </div>

    <!-- Table to Display Entries -->
    <table class="table">
        <caption>Logs List</caption>
        <thead>
            <tr>
                <th>Description</th>
                <th>Task Date</th>
                <th>Category</th>
                <th>Time Spent</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of taskList">
                <td>{{task.description}}</td>
                <td>{{task.taskDate}}</td>
                <td>{{task.category?.description}}</td>
                <td>{{task.timeSpent}}</td>
            </tr>
           
        </tbody>
    </table>
</div>